h1 {
  font-family: "Inter Black";
}

.post-content {
  h1,
  h2 {
    font-family: "Inter Bold";
  }
}

h3,
h4,
h5,
h6 {
  font-family: "Inter Regular";
}

.entry-header {
  font-family: "Inter Bold";
}

body {
  font-family: "Inter Regular";
  line-height: 1.7em;
}

.post-content {
  pre,
  code {
    font-family: "JetBrains Mono Regular", SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  }
}
