<ol reversed class="mt-6 list-none postlist">
  {% for post in postslist | reverse %}
    <time class="block mt-1 leading-normal sm:mt-0 sm:inline postlist-date" {% if post.date %}datetime="{{ post.date | htmlDateString }}{% endif %}">
      {% if post.date %}
        {{ post.date | readableDate }}
      {% endif %}
    </time>

    <li class="mb-4 last:mb-0 postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <a href="{{ post.url | url }}" class="text-xl font-bold leading-tight postlist-link hover:line-through">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>

      {% if post.data.description %}
        <div class="block pb-3 mt-3 leading-normal">
          {{ post.data.description }}
        </div>
      {% endif %}

      <div class="block pb-4 -ml-1">
        {% for tag in post.data.tags %}
          {%- if collections.tagList.indexOf(tag) != -1 -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}"
               class="px-3 py-1 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full hover:bg-gray-400 tag">
              {{ tag }}
            </a>
          {%- endif -%}
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ol>