{
	// Configuration for JavaScript files
	"extends": ["plugin:prettier/recommended"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"endOfLine": "auto"
			}
		]
	},
	"overrides": [
		// Configuration for mjs files
		{
			"files": ["**/*.mjs"],
			"parserOptions": {
				"sourceType": "module",
				"ecmaVersion": 2015
			},
			"extends": ["plugin:prettier/recommended"],
			"rules": {
				"prettier/prettier": [
					"error",
					{
						"singleQuote": true,
						"endOfLine": "auto"
					}
				]
			}
		},
		// Configuration for TypeScript files
		{
			"files": ["**/*.ts", "**/*.tsx"],
			"plugins": ["@typescript-eslint"],
			"extends": ["plugin:prettier/recommended"],
			"parserOptions": {
				"project": "./tsconfig.json"
			},
			"rules": {
				"prettier/prettier": [
					"error",
					{
						"singleQuote": true,
						"endOfLine": "auto"
					}
				],
				"@typescript-eslint/comma-dangle": "off", // Avoid conflict rule between Eslint and Prettier
				"@typescript-eslint/consistent-type-imports": "error", // Ensure `import type` is used when it's necessary
				"@typescript-eslint/no-unused-vars": "off"
			}
		},
		// Configuration for Astro
		{
			"files": ["**/*.astro"],
			"plugins": ["@typescript-eslint"],
			"extends": ["plugin:prettier/recommended"],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser",
				"project": "./tsconfig.json",
				"extraFileExtensions": [".astro"]
			},
			"rules": {
				"prettier/prettier": [
					"error",
					{
						"singleQuote": true,
						"endOfLine": "auto"
					}
				],
				"@typescript-eslint/comma-dangle": "off", // Avoid conflict rule between Eslint and Prettier
				"@typescript-eslint/consistent-type-imports": "error", // Ensure `import type` is used when it's necessary
				"@typescript-eslint/no-unused-vars": "off"
			},
			"globals": {
				"Astro": "readonly"
			}
		}
	]
}
