---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="mb-4 leading-7">
    <div class="text-4xl font-bold">{{ title }}</div>
    <time class="text-lg postlist-date" datetime="{{ date | htmlDateString }}">posted: {{ date | readableDate }}</time>
</div>

{{ content | safe }}

<p>
    <a href="{{ '/' | url }}">← Home</a>
</p>