@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom Styling */
@import "./prism-dracula";

/* FontAwesomeIcon */
.font-awesome-brand-icon svg {
  width: 20px;
  height: 20px;
  padding-bottom: 4px;
  display: inline-block;
}

/* postlist styling */
.postlist-item {
  counter-increment: start-from -1;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--postlist-text-color);
}
