/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

/* Space Styling */
code[class*="language-"],
pre[class*="language-"] {
  @apply overflow-auto;
  margin-left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

@screen sm {
  pre[class*="language-"] {
    @apply rounded-lg;
    @apply max-w-3xl;
  }
}

.table {
  @apply px-4;
  @apply pb-4;
}

pre[class*="language-"],
code[class*="language-"] {
  color: #f8f8f2;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: #44475a;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  overflow: auto;
  background: #282a36;
}
:not(pre) > code[class*="language-"] {
  color: #6272a4;
  background: #eaefff;
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}
.token.punctuation {
  color: #f8f8f2;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #bd93f9;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #f1fa8c;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #f8f8f2;
  background: #282a36;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #ff79c6;
}
.token.function {
  color: #50fa7b;
}
.token.regex,
.token.important,
.token.variable {
  color: #ffb86c;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #44475a;
  box-shadow: inset 5px 0 0 #ff79c6;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
