---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: 📦
  order: 2
---

<h1 class="text-4xl font-bold">Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}