---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1 class="text-4xl font-bold">Tagged “{{ tag }}”</h1>

<p class="inline">See <a href="{{ '/tags/' | url }}">all tags</a>.</p>

{% set postslist = collections[tag] %}
{% include "postslist.njk" %}