---
permalink: /tags/
layout: layouts/home.njk
---
<h1 class="text-4xl font-bold">Tags</h1>

<div class="my-8">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="px-3 py-1 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full tag hover:bg-gray-400">{{ tag }}</a>
  {% endfor %}
</div>